
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #002346;
    padding: 30px;
}


.container {
    width: 50%;
    margin: auto;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
}


.title {
    text-align: center;
    margin-bottom: 20px;
    color: #222;
}


.card {
    padding: 15px;
    border-radius: 10px;
    background: #aecefaba;
    margin-top: 15px;
   
}

.inp {
    width: 40%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.btn {
    padding: 10px 20px;
    background: #2f3f42;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px
}

.btn:hover {
    background-color: #1565c0;
}

.text {
    font-size: 18px;
    margin: 5px 0;
}

.btn{
    margin-top: 15px;
    margin-right: 10px;
}